<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow"/>
        <meta name="author" content="Gr&eacute;gory Paul"/>
        <link rel="icon" type="image/png" href="imgs/cake.png" />
        <title>Mes recettes Thermomix</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet"  href="css/themes/default/jquery.mobile-1.2.0-rc.2.css" />
        <script src="js/jquery-1.8.2.min.js"></script>
        <script src="js/jquery.mobile-1.2.0-rc.2.min.js"></script>
        <script src="js/jqm.page.params.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/thermomix-main.js"></script>
        <script src="js/thermomix-data.js"></script>
        <script src="js/thermomix-controller.js"></script>
        <script src="js/thermomix-views.js"></script>
    </head> 
    <body> 

        <!-- Homepage / Categories list -->
        <div data-role="page" id="categories">

            <div data-role="header">
                <h1>Mes recettes Thermomix</h1>
                <a href="#add-recipe" data-icon="add" class="ui-btn-right">Ajouter</a>
            </div>

            <div data-role="content">
                <ul id="categories-list" data-role="listview" data-theme="c"></ul>

                <script type="text/template" id="categories-list-template">
                    <% _.each(categories, function(category) { %>
                        <li><a href="#recipes?categoryId=<%= category.id %>"><%= category.name %><span class="ui-li-count"><%= category.count %></span></a></li>
                    <% }); %>
                </script>
            </div>

            <div data-role="footer" data-position="fixed">        
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home">Accueil</a>
                        <!--li><a href="#stars" data-role="button" data-icon="star">Favoris</a-->
                        <li><a href="#configuration" data-role="button" data-icon="gear">Configuration</a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Recipes list -->
        <div data-role="page" id="recipes">

            <div data-role="header">
                <h1></h1>
                <a href="#add-recipe" data-icon="add" class="ui-btn-right">Ajouter</a>
            </div>

            <div data-role="content">
                <ul id="recipes-list" data-role="listview" data-theme="c"></ul>

                <script type="text/template" id="recipes-list-template">
                    <% _.each(recipes, function(recipe) { %>
                        <li><a href="#recipe?categoryId=<%= categoryId %>&recipeId=<%= recipe.id %>"><%= recipe.name %></a></li>
                    <% }); %>
                </script>
            </div>

            <div data-role="footer" data-position="fixed">        
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home">Accueil</a>
                        <li><a href="#configuration" data-role="button" data-icon="gear">Configuration</a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Recipe -->
        <div data-role="page" id="recipe">

            <div data-role="header">
                <a href="#recipe" class="previous" data-icon="arrow-l">Précédent</a>
                <h1></h1>
                <a href="#recipe" class="next" data-icon="arrow-r">Suivant</a>
            </div>

            <div class="content" data-role="content"></div>

            <div data-role="footer" data-position="fixed">        
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home">Accueil</a>
                        <li><a href="#configuration" data-role="button" data-icon="gear">Configuration</a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Add recipe -->
        <div data-role="page" id="add-recipe">

            <div data-role="header">
                <a href="#categories" class="cancel" data-icon="delete">Annuler</a>
                <h1>Nouvelle recette</h1>
                <a href="#categories" class="save" data-icon="check" data-theme="b">Sauvegarder</a>
            </div>

            <div data-role="content">
                <form>
                    <label for="add-recipe-text-name">Nom :</label>
                    <input type="text" name="name" id="add-recipe-text-name" value=""  />

                    <label for="add-recipe-select-category" class="select">Catégorie :</label>
                    <select name="category" id="add-recipe-select-category"></select>
                    <script type="text/template" id="categories-select-list-template">
                        <% _.each(categories, function(category) { %>
                            <option value="<%= category.id %>"><%= category.name %></option>
                        <% }); %>
                    </script>

                    <label for="add-recipe-text-recipe">Recette :</label>
                    <textarea name="recipe" id="add-recipe-text-recipe"></textarea>
                </form>
            </div>

            <div data-role="footer" data-position="fixed">        
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home">Accueil</a>
                        <li><a href="#configuration" data-role="button" data-icon="gear">Configuration</a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Configuration -->
        <div data-role="page" id="configuration">

            <div data-role="header">
                <a href="#categories" class="cancel" data-icon="delete">Annuler</a>
                <h1>Configuration</h1>
                <a href="#categories" class="save" data-icon="check" data-theme="b">Sauvegarder</a>
            </div>

            <div data-role="content">
    

                <!--
                <ul id="categories-list" data-role="listview" data-theme="c"></ul>

                <script type="text/template" id="categories-config-list-template">
                    <% _.each(categories, function(category) { %>
                        <li><a href="#recipes?categoryId=<%= category.id %>"><%= category.name %><span class="ui-li-count"><%= category.count %></span></a></li>
                    <% }); %>
                </script>
                -->

                <label for="configuration-cookbook">Nom du livre de recette :</label>
                <input type="text" name="cookbook" id="configuration-cookbook" value="" />
                <small>Vos recettes sont sauvegardées dans un livre de recette. La modification de cette valeur va remplacer vos recettes actuelles par celles contenues dans le livre saisi.</small>

            </div>

            <div data-role="footer" data-position="fixed">        
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home">Accueil</a>
                        <li><a href="#configuration" data-role="button" data-icon="gear">Configuration</a>
                    </ul>
                </div>
            </div>
        </div>

    </body>
</html>
