<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Themormix recipes tests</title>
        <link rel="stylesheet" href="qunit-1.10.0.css">
    </head>
    <body>
        <div id="qunit"></div>
        <script src="../src/js/jquery-1.8.2.min.js"></script>
        <script src="../src/js/underscore-min.js"></script>
        <script src="../src/js/thermomix-main.js"></script>
        <script src="../src/js/thermomix-data.js"></script>
        <script src="../src/js/thermomix-controller.js"></script>
        <script src="../src/js/thermomix-views.js"></script>
        <script src="qunit-1.10.0.js"></script>
        <script>
            // Mock jquery mobile function 
            $.fn.listview = function() {};

            // Mocked app data
            App.data = {
                categories: [
                    { id: 1, name: 'entrées' },
                    { id: 2, name: 'plats' },
                    { id: 3, name: 'desserts' }
                ],
                recipes: [
                    { id: 1, name: 'oeufs brouillés', categoryId: 1, recipe: 'cuire les oeufs' },
                    { id: 2, name: 'tiramisu', categoryId: 3, recipe: 'Mettre du mascarpone' },
                    { id: 3, name: 'Baba au rhum', categoryId: 3, recipe: 'Imbiber le baba' }
                ]
            }; 


            test( "App is here", function() {
                ok( App != undefined, "No app!" );
                ok( App.categories != undefined, "No App.categories!" );
                ok( App.recipes != undefined, "No App.recipes!" );
            });

            test( "App renders categories", function() {
                // Given
                App.categories.tpl = _.template($('#categories-list-template').text()); // Load template

                // When 
                App.categories.render('ul#categories-list');

                // Then 
                var $list = $('ul#categories-list li');
                ok( $list.size() === 3, "Render categories from json!" );
                ok( $($list.get(0)).find('a span').text() == 1, "count recipes in categories !" );
                ok( $($list.get(1)).find('a span').text() == 0, "count recipes in categories !" );
                ok( $($list.get(2)).find('a span').text() == 2, "count recipes in categories !" );
            });

            test( "App renders recipes", function() {
                // Given
                App.recipes.tpl = _.template($('#recipes-list-template').text()); // Load template

                // When 
                App.recipes.render('#recipes-list', 3);

                // Then 
                ok( $('#recipes-list li').size() === 2, "Render recipes!" );
            });

            test( "App renders first recipe (with a next recipe link)", function() {
                // Given

                // When 
                App.recipe.render('#recipe', 2, 3);

                // Then 
                ok( $('#recipe h1').html() === "tiramisu", "Render recipe title!" );
                ok( $('#recipe .content').html().length > 0, "Render recipe content!" );
                ok( $('#recipe .previous:visible').length === 0, "Render recipe next link!" );
                ok( $('#recipe .next:visible').attr('href') === "#recipe?categoryId=3&recipeId=3", "Render recipe next link!" );
            });

            test( "App renders last recipe (with a previous recipe link)", function() {
                // Given

                // When 
                App.recipe.render('#recipe', 3, 3);

                // Then 
                ok( $('#recipe h1').html() === "Baba au rhum", "Render recipe title!" );
                ok( $('#recipe .content').html().length > 0, "Render recipe content!" );
                ok( $('#recipe .previous:visible').attr('href') === "#recipe?categoryId=3&recipeId=2", "Render recipe previous link!" );
                ok( $('#recipe .next:visible').length === 0, "Render recipe next link!" );
            });

            test( "App render select categories", function() {
                // Given
                App.categories.selectTpl = _.template($('#categories-select-list-template').text()); // Load template

                // When 
                App.categories.renderSelect('#add-recipe #select-category');

                // Then 
                ok( $('#add-recipe #select-category option').size() === 3, "Render select categories !" );
                var firstOption = $($('#add-recipe #select-category option').get(0));
                ok( firstOption.val() === '1', "Render select categories : first option value !" );
                ok( firstOption.text() === 'entrées', "Render select categories : first option text !" );
            });
        </script>
        <ul id="categories-list">
            <script type="text/template" id="categories-list-template">
                <% _.each(categories, function(category) { %>
                    <li><a href="#"><%= category.name %><span class="ui-li-count"><%= category.count %></span></a></li>
                <% }); %>
            </script>
        </ul>
        <ul id="recipes-list">
            <script type="text/template" id="recipes-list-template">
                <% _.each(recipes, function(recipe) { %>
                    <li><a href="#"><%= recipe.name %></a></li>
                <% }); %>
            </script>
        </ul>
        <div id="recipe">
            <h1></h1>
            <a class="previous">previous</a>
            <a class="next">next</a>
            <div class="content"></div>
        </div>
        <div id="add-recipe">
            <select id="select-category"></select>
            <script type="text/template" id="categories-select-list-template">
                <% _.each(categories, function(category) { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                <% }); %>
            </script>
        </div>
    </body>
</html>
