body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 26px;
    --main-fg-color: #328e6e;
    --main-bg-color: #e1eebc;

    color: var(--main-fg-color);
    background: #f7fce9;
}

input,
select,
button {
    padding: 6px;
    margin: 6px;
    font-size: 24px;
    border: 1px solid black;
}
input[type='text'],
select {
    margin-top: 20px;
    color: black;
    background: white;
}
button {
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    display: block;
    color: var(--main-bg-color);
    background: var(--main-fg-color);
}
button.icon {
    border: none;
    background: none;
    cursor: pointer;
}

button[disabled] {
    background-color: grey;
    cursor: not-allowed;
}

.app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.content {
    flex-grow: 1;
    padding: 6px;
    overflow: auto;
}

footer,
header {
    display: flex;
    min-height: 40px;
    color: var(--main-bg-color);
    background: var(--main-fg-color);
    justify-content: center;
    align-items: center;
}
header a,
header span,
footer a,
footer span {
    color: var(--main-bg-color);
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

h1,
h2 {
    margin: 4px;
}
a {
    color: var(--main-fg-color);
}

.error {
    color: darkred;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    gap: 10px;
    align-items: center;
}
.row {
    padding: 8px 0;
    margin: 4px 0;
}
.row a {
    margin: 4px;
}
.row:active,
.row:hover,
.row:active a,
.row:hover a {
    color: var(--main-bg-color);
    background-color: var(--main-fg-color);
}

.area {
    display: flex;
    flex-direction: column;
}

.thermomixIcon {
    height: 28px;
    width: 28px;
    vertical-align: bottom;
    border: 1px solid var(--main-fg-color);
}
