<!DOCTYPE html> 
<html manifest="cache.manifest"> 
    <head> 
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow"/>
        <meta name="author" content="Gr&eacute;gory Paul"/>
        <link rel="icon" type="image/png" href="imgs/favicon.ico" />
        <title>Mes recettes Thermomix</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet"  href="css/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet"  href="css/thermomix.css" />
        <link rel="apple-touch-icon" href="imgs/logo.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="imgs/logo.png" />
        <script src="js/thermomix-recipes.min.js"></script>
    </head> 
    <body>
        <div id="connection-status">
            <img class="online" src="imgs/connect.png" title="Connecté (application en lecture/écriture)" alt="Connecté" />
            <img class="offline" src="imgs/disconnect.png" title="Déconnecté (application en lecture seule)" alt="Disconnecté" />
        </div>

        <!-- Homepage / Categories list -->
        <div data-role="page" id="categories">

            <div data-role="header">
                <h1>Mes recettes Thermomix</h1>
                <a href="#edit-recipe" data-icon="add" class="ui-btn-right action">Ajouter une recette</a>
            </div>

            <div data-role="content">
                <ul id="categories-list" data-role="listview" data-theme="c"></ul>

                <script type="text/template" id="categories-list-template">
                    <% _.each(categories, function(category) { %>
                        <li><a href="#recipes?categoryId=<%= category.id %>"><%= category.name %><span class="ui-li-count"><%= category.count %></span></a></li>
                    <% }); %>
                </script>
            </div>

            <div data-role="footer" data-position="fixed">        
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home">Accueil</a>
                        <li><a href="#search" data-role="button" data-icon="search">Chercher</a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info">Suggestions</a>
                        <li><a href="#configuration" data-role="button" data-icon="gear">Configuration</a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Recipes list -->
        <div data-role="page" id="recipes">

            <div data-role="header">
                <h1></h1>
                <a href="#edit-recipe" data-href="#edit-recipe?categoryId=%categoryId%" data-icon="add" class="ui-btn-right action">Ajouter une recette</a>
            </div>

            <div data-role="content">
                <ul id="recipes-list" data-role="listview" data-theme="c"></ul>

                <script type="text/template" id="recipes-list-template">
                    <% _.each(recipes, function(recipe) { %>
                        <li><a href="#recipe?categoryId=<%= categoryId %>&recipeId=<%= recipe.id %>"><%= recipe.name %></a></li>
                    <% }); %>
                </script>
            </div>

            <div data-role="footer" data-position="fixed">        
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home">Accueil</a>
                        <li><a href="#search" data-role="button" data-icon="search">Chercher</a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info">Suggestions</a>
                        <li><a href="#configuration" data-role="button" data-icon="gear">Configuration</a>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Recipes list by last done -->
        <div data-role="page" id="recipes-last-done">

            <div data-role="header">
                <h1>Suggestions</h1>
            </div>

            <div data-role="content">
                <ul id="recipes-last-done-list" data-role="listview" data-theme="c"></ul>

                <script type="text/template" id="recipes-last-done-list-template">
                    <% _.each(recipes, function(recipe) { %>
                        <li><a href="#recipe?categoryId=<%= recipe.categoryId %>&recipeId=<%= recipe.id %>"><%= recipe.name %></a></li>
                    <% }); %>
                </script>
            </div>

            <div data-role="footer" data-position="fixed">        
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home">Accueil</a>
                        <li><a href="#search" data-role="button" data-icon="search">Chercher</a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info">Suggestions</a>
                        <li><a href="#configuration" data-role="button" data-icon="gear">Configuration</a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Search-->
        <div data-role="page" id="search">

            <div data-role="header">
                <h1>Chercher</h1>
            </div>

            <div data-role="content">

                <input type="search" data-theme="c" data-mini="true" />
                <ul id="recipes-results" data-role="listview" data-theme="c"></ul>
                <p class="noresult">Pas de résultat</p>

                <script type="text/template" id="recipes-results-template">
                    <% _.each(recipes, function(recipe) { %>
                        <li><a href="#recipe?categoryId=<%= recipe.categoryId %>&recipeId=<%= recipe.id %>"><%= recipe.name %></a></li>
                    <% }); %>
                </script>
            </div>

            <div data-role="footer" data-position="fixed">        
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home">Accueil</a>
                        <li><a href="#search" data-role="button" data-icon="search">Chercher</a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info">Suggestions</a>
                        <li><a href="#configuration" data-role="button" data-icon="gear">Configuration</a>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Recipe -->
        <div data-role="page" id="recipe">

            <div data-role="header">
                <a href="#recipe" class="previous" data-icon="arrow-l">Précédent</a>
                <h1></h1>
                <a href="#recipe" class="next" data-icon="arrow-r">Suivant</a>
            </div>

            <div class="content" data-role="content"></div>

            <a href="#recipe?recipeId=" data-icon="check" data-role="button" data-theme="c" class="done action">Marquer cette recette comme faite</a>
            <a href="#edit-recipe?recipeId=" data-icon="grid" data-role="button" data-theme="e" class="edit action">Modifier cette recette</a>
            <a href="#recipes?categoryId=" data-icon="delete" data-role="button" data-theme="a" class="delete action">Supprimer cette recette</a>

            <div data-role="footer" data-position="fixed">        
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home">Accueil</a>
                        <li><a href="#search" data-role="button" data-icon="search">Chercher</a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info">Suggestions</a>
                        <li><a href="#configuration" data-role="button" data-icon="gear">Configuration</a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Edit recipe -->
        <div data-role="page" id="edit-recipe">

            <div data-role="header">
                <a href="#categories" class="cancel" data-icon="delete">Annuler</a>
                <h1></h1>
                <a href="#" data-href="#recipe?categoryId=%categoryId%&recipeId=%recipeId%" class="save action" data-icon="check" data-theme="b">Sauvegarder</a>
            </div>

            <div data-role="content">
                <form>
                    <label for="edit-recipe-select-category" class="select">Catégorie :</label>
                    <select name="category" id="edit-recipe-select-category"></select>
                    <script type="text/template" id="categories-select-list-template">
                        <% _.each(categories, function(category) { %>
                            <option value="<%= category.id %>"><%= category.name %></option>
                        <% }); %>
                    </script>

                    <label for="edit-recipe-text-name">Nom :</label>
                    <input type="text" name="name" id="edit-recipe-text-name" value=""  />

                    <label for="edit-recipe-text-recipe">Recette :</label>
                    <textarea name="recipe" id="edit-recipe-text-recipe"></textarea>

                    <p class="icons"> 
                        <img src="imgs/icon-inverse.png" title="inverse" class="insert"/>
                        <img src="imgs/icon-mijotage.png" title="mijotage" class="insert"/>
                        <img src="imgs/icon-tare.png" title="tare" class="insert"/>
                        <img src="imgs/icon-ouverture.png" title="ouverture" class="insert"/>
                        <img src="imgs/icon-verrouillage.png" title="verrouillage" class="insert"/>
                        <img src="imgs/icon-petrin.png" title="petrin" class="insert"/>
                    </p>

                    <div data-role="collapsible" class="help" data-collapsed-icon="arrow-r" and data-expanded-icon="arrow-d">
                        <h3>Aide quant à la syntaxe</h3>

                        <h4>Gras</h4>
                        <pre>**en gras**</pre>

                        <h4>Italique</h4>
                        <pre>*en italique*, également _de cette façon_</pre>

                        <h4>Listes et sous listes</h4>
                        <pre>- élément 1<br>- élément 2<br> - sous-élément</pre>

                        <h4>Titre de 1er niveau</h4>
                        <pre># Titre #</pre>
                        <p>ou</p>
                        <pre>Titre<br>=====</pre>

                        <h4>Titre de 2ème niveau</h4>
                        <pre>## Titre ##</pre>
                        <p>ou</p>
                        <pre>Titre<br>-----</pre>

                        <h4>Titre de 3ème niveau</h4>
                        <pre>### Titre ###</pre>

                        <h4>Lien</h4>
                        <pre>[Thermomix](http://www.vorwerk.com)</pre>

                        <h4>Image</h4>
                        <pre>![description](imgs/logo_thermomix.png)</pre>
                    </div>

                    <label class="output">Rendu :</label>
                    <p class="output"></p>
                </form>

            </div>

            <div data-role="footer" data-position="fixed">        
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home">Accueil</a>
                        <li><a href="#search" data-role="button" data-icon="search">Chercher</a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info">Suggestions</a>
                        <li><a href="#configuration" data-role="button" data-icon="gear">Configuration</a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Configuration -->
        <div data-role="page" id="configuration">

            <div data-role="header">
                <a href="#categories" class="cancel" data-icon="delete">Annuler</a>
                <h1>Configuration</h1>
                <a href="#categories" class="save action" data-icon="check" data-theme="b">Sauvegarder</a>
            </div>

            <div data-role="content">

                <h2>Choix du livre de recette :</h2>
                <input type="text" name="cookbook" id="configuration-cookbook" value="" />
                <p>Vos recettes sont sauvegardées dans un livre de recette. La modification de cette valeur va remplacer vos recettes actuelles par celles contenues dans le livre saisi.</p>

                <h2>Configuration des catégories :</h2>
                <ul id="categories-edit-list" data-role="listview" data-theme="c"></ul>
                <a href="#edit-category" class="add action" data-icon="add" data-role="button">Ajouter une catégorie</a>

                <script type="text/template" id="categories-edit-list-template">
                    <% _.each(categories, function(category) { %>
                        <li><a href="#edit-category?categoryId=<%= category.id %>"><%= category.name %><span class="ui-li-count"><%= category.count %></span></a></li>
                    <% }); %>
                </script>

            </div>

            <div data-role="footer" data-position="fixed">        
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home">Accueil</a>
                        <li><a href="#search" data-role="button" data-icon="search">Chercher</a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info">Suggestions</a>
                        <li><a href="#configuration" data-role="button" data-icon="gear">Configuration</a>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Edit category -->
        <div data-role="page" id="edit-category">

            <div data-role="header">
                <a href="#configuration" class="cancel" data-icon="delete">Annuler</a>
                <h1 class="new">Nouvelle catégorie</h1>
                <h1 class="edit">Modification d’une catégorie</h1>
                <a href="#configuration" class="save action" data-icon="check" data-theme="b">Sauvegarder</a>
            </div>

            <div data-role="content">
                <form>
                    <label for="edit-category-text-name">Nom :</label>
                    <input type="text" name="name" id="edit-category-text-name" value=""  />
                    <a href="#configuration" data-icon="delete" data-role="button" data-theme="a" class="delete action">Supprimer cette catégorie</a>
                </form>
            </div>

            <div data-role="footer" data-position="fixed">        
                <div data-role="navbar">
                    <ul>
                        <li><a href="#categories" data-role="button" data-icon="home">Accueil</a>
                        <li><a href="#search" data-role="button" data-icon="search">Chercher</a>
                        <li><a href="#recipes-last-done" data-role="button" data-icon="info">Suggestions</a>
                        <li><a href="#configuration" data-role="button" data-icon="gear">Configuration</a>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
